In [2]:
import pandas as pd

In [6]:
## read in dataset
data = pd.read_csv(r'C:\Users\jayaramkapil\OneDrive - The University of Memphis\Masters Project\datasets\raw_datasets\reviews.csv')
data.head(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...
3,958,16282,2009-11-05,33750,Anna,We highly recommend this accomodation and agre...
4,958,26008,2010-02-13,15416,Venetia,Holly's place was great. It was exactly what I...
5,958,29240,2010-03-13,78623,Mathieu,"On top of all that has been said previously, I..."
6,958,32988,2010-04-03,96027,Lauren,This apartment was everything I could have hop...
7,958,220443,2011-04-08,426888,Michelle,Great place to stay. I would highly recommend...
8,958,567690,2011-09-26,539189,Sarah,"Great location in San Francisco, really felt l..."
9,958,1786860,2012-07-24,2059845,Jörg,We had a wonderful time at Holly & Davids plac...